# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic_links = 0

[client]
socket = /var/lib/mysql/mysql.sock

[mysqld]
## Files
datadir = /var/lib/mysql
tmpdir = /tmp
ignore_db_dir = binlog
ignore_db_dir = log
ignore_db_dir = innodb
ignore_db_dir = tokudb
back_log = 300
open_files_limit = 64511
port = 3306
socket = /var/lib/mysql/mysql.sock
skip_name_resolve
character_set_server = utf8

## Logging
general_log = 0
general_log_file =/var/lib/mysql/log/mysql-gen.log
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/log/mysql-slow.log
long_query_time = 1
log_error = /var/lib/mysql/log/mysql-error.log
log_warnings = 4

## Buffers and Connections
key_buffer_size = 2M
max_allowed_packet = 32M
thread_stack = 256K
thread_cache_size = 150
table_open_cache = 400
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
join_buffer_size = 1M
query_cache_size = 4M
query_cache_limit = 512K
max_connections = 350
max_connect_errors = 100
concurrent_insert = 2
connect_timeout = 30

## Default Table Settings
# http://dev.mysql.com/doc/refman/5.6/en/server-options.html#option_mysqld_default-storage-engine
default_storage_engine = InnoDB

# http://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_sql_mode
# sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,ERROR_FOR_DIVISION_BY_ZERO,NO_ZERO_IN_DATE,NO_ZERO_DATE,ONLY_FULL_GROUP_BY

# Temporal settings
# https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html
explicit_defaults_for_timestamp = 1
avoid_temporal_upgrade = 1
show_old_temporals = 1

## Alt settings
max_heap_table_size = 128M
bulk_insert_buffer_size = 64M
tmp_table_size=64M

## Replication
# http://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html
server_id = 5656
read_only = 0
# Enable binary logging. This is required for acting as a MASTER in a
# http://dev.mysql.com/doc/refman/5.6/en/replication-options-binary-log.html
log_bin			= /var/lib/mysql/binlog/mysql-bin
log_bin_index   = /var/lib/mysql/binlog/mysql-bin.index
relay_log       = /var/lib/mysql/binlog/mysql-relay
relay_log_index = /var/lib/mysql/binlog/mysql-relay.index
relay_log_space_limit = 10G
max_binlog_size = 1024M
expire_logs_days = 10
binlog_format = ROW
# http://dev.mysql.com/doc/refman/5.6/en/replication-options-slave.html
slave_exec_mode = STRICT
slave_type_conversions = ALL_NON_LOSSY
log_slave_updates = 1
skip_slave_start = 1
sync_binlog = 1

## MyISAM Engine
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 2M
myisam_repair_threads = 4
myisam_recover_options = BACKUP
skip_external_locking

## InnoDB Engine
# http://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html
innodb_data_home_dir = /var/lib/mysql/innodb
innodb_log_group_home_dir = /var/lib/mysql/innodb
innodb_tmpdir = /tmp
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_file_size=5242880
innodb_buffer_pool_size = 1G
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_status_file = 1
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_table_locks = 0
innodb_log_buffer_size = 32M
innodb_lock_wait_timeout = 60
innodb_thread_concurrency = 16
innodb_commit_concurrency = 8
innodb_flush_method = fsync
innodb_support_xa = 1
innodb_open_files = 63487

# TokuDB Engine
# using loose_ will make mysqld ignore options when plugin is not installed
# https://www.percona.com/doc/percona-server/5.6/tokudb/tokudb_variables.htm
loose_tokudb_data_dir = /var/lib/mysql
loose_tokudb_dir_per_db = 1
loose_tokudb_log_dir = /var/lib/mysql/tokudb
loose_tokudb_tmp_dir = /tmp
loose_tokudb_rpl_lookup_rows = 0

## TX Isolation
# https://dev.mysql.com/doc/refman/5.6/en/server-options.html#option_mysqld_transaction-isolation
transaction_isolation = READ-COMMITTED

[mysqldump]
quick
quote_names
max_allowed_packet = 128M


[mysql]
## Disable command auto complete
# disable_auto_rehash

# Ignore SIGINT (Ctrl-C)
# sigint-ignore

# custom configuration options
prompt          = 'mysql [\d]> '


[mysqld_safe]
thp-setting = never
nice = -15
